.navitem ul{
    display: flex;
  
}
.navitem li{
    list-style: none;


}
.navitem a{

    margin-right: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo{
    display: flex;
    margin: 0;
    justify-content: space-between;
    background-color: rgb(19, 19, 19);
    color: white;
    border-bottom:5px solid  red;
}
body{
    background-color: black;
}
.navitem a:hover{
    border-bottom: 5px solid red;
}
.img{
    width: 500px;
    height: 400px;
    margin: 100px;
    padding: 20px;
    border: 4px solid rgb(232, 7, 45);
    border-radius: 50%;

}
#home{
    display: flex;
    color: white;
}
.contentsss p{
    font-size: 20px;
}
#skill{
    color: white;
}
.contentsss h2{
    color: white;
    font-size: 40px;
}
.contentsss h3{
    color: rgb(240, 9, 9);
    font-size: 30px;
}
.contentsss h5{
    font-size: 30px;
}
.contentsss{
    margin: 20px;
    padding: 10px;
    position: relative;
}

.icon{
    margin-right:20px;
    
    padding: 5px;
    display: flex;
    margin: 10px;

}
.icon-1{
    margin: 10px;
    border: 3px solid red;
    border-radius: 50%;
   
    align-items: center;
    padding: 10px;
}
.icon-1:hover{
    border: 2px solid black;
}
.btn{
    color: black;
    background-color: rgb(220, 118, 9);
    border-radius: 10px;
    width: 100px;
    height: 25px;
    margin-right: 20px;
    
}
.btn:hover{
    background-color: transparent;
    color: white;
}
.btn a{
    text-decoration: none;
    color: white;
}
.about-content{
    font-size: 20px;
    color: white;
    width: 50%;
}
.about-content h3{
    font-size: 30px;
    margin: 40px;
}
.about-content h5{
    font-size: 30px;
    margin: 40px;
    
}
.about-content p{
    font-size: 30px;
    margin: 20px;
}
.btns{
    margin-left: 40px;
    color: white;
    background-color: rgb(207, 6, 123);
    height: 30px;
    width: 100px;
    border-radius: 20px;
}
span{
    color: rgb(184, 12, 141);
}
#about{
    display: flex;
    justify-content: space-between;
}
.imgs{
    
    width: 50%;
    

    
}
.con{
    display: flex;
    justify-content: space-around;
}
.imgs img{
    border-radius: 50%;
    border: 5px solid pink;
    padding: 100px;
    margin-right: 200px;
    margin-left: 20px;
    width: 400px;
    height: 200px;

}
.imgss{
    color: white;
    background-color: grey;
}
.img-card{
    color: white;
 
}
#service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.img-2{
    background-color: rgb(42, 37, 37);
    width: 30%;
    margin: 20px;
}

.imgss-2 i{
    color: red;
    margin-left: 30px;
    
    

}
.img-card h3{
    font-size: 25px;
    color: rgb(240, 236, 236);
    text-align: center;
    align-items: baseline;
    text-transform: capitalize;
    margin-top: 30px;
}
.img-card p{
    font-size: 20px;
}
.img-card{
    font-size: 20px;
    margin:3px;
}
.img-3{
    background-color: rgb(42, 37, 37);
    
    width: 30%;
    margin: 20px;
}

.img-4{
    background-color: rgb(42, 37, 37);
    width: 30%;
    margin: 20px;
}

.img-5{
    
    background-color: rgb(42, 37, 37);
    width: 30%;
     margin: 20px;
}
.img-2:hover{
    background-color: rgb(187, 26, 26);
}
.img-5:hover{
    background-color: rgb(187, 26, 26);
}
.img-4:hover{
    background-color: rgb(187, 26, 26);
}
.img-3:hover{
    background-color: rgb(187, 26, 26);
}

.img-1:hover{
    background-color: rgb(187, 26, 26);
}
.contentss{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: 200px 200px ;
    
}
.contentss h2{
    opacity: 0;
   width: 200px;
   text-align: center;
}
.contentss h2:hover{
    opacity: 1;
}
.content-2{
    background-image: url(download\ \(1\).jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 200px;
    

}
.content-2 h2{
    opacity: 0;
    width: 200px;
    text-align: center;

}
.content-2 h2:hover{
    opacity: 1;
    color: white;
    text-align: center;
}
.content-1 h2{
    opacity: 0;
    width: 200px;
    text-align: center;
  

}

.content-1{
    background-image: url(download\ \(5\).jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 200px;
}
.content-1 h2:hover{
    opacity: 1;
    color: white;
     
}
.ser{
    font-size: 30px;
    color: white;
    margin: 30px;
    text-align: center;
}
*{
    list-style: none;
    padding: 0;
    margin: 0;

}
#skill{
    text-transform: capitalize;
}
#skill h1{
    text-align: center;
}
#skill h3{
    margin: 5px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(206, 198, 198, 0.22) ;
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgb(64, 0, 255);
    box-shadow:  0 1px 2px rgba(0,0,0,0.25),0 1px 1px rgba(206, 198, 198, 0.22) ;
    display: block;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.9,.25,1);

}
.bar:hover{
    box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(206, 198, 198, 0.22) ;
}.bar span{
    height: 2opx;
    float: left;

}
.bar .html{
    width: 90%;
}
.container-1{
    width: 33%;
    padding: 10px;
    
    margin: 10px;
   
}

.container-2{
    width: 30%;
}
.container-3{
    width: 30%;
}
.container-4{
    width: 30%;
}
.container-5{
    width: 30%;
}
.container{
    width: 30%;
}
.h2{
    text-align: center;
    font-size: 30px;
}
.ex{
    display: flex;
    justify-content: space-between;
    
    margin: 20px;
   
}
#exp{

    text-align: center;
    background-color: black;
    color: white;
    height: 300px;


}
#exp h2{
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    color: blueviolet;

}
.exps p{
    font-size: 20px;
    color: aqua;
    font-size: 30px;
}
.exps-1 p{
    color: rgb(43, 226, 46);
    font-size: 30px;
}
.exps-3 p{
    color: rgb(242, 108, 13);
    font-size: 30px;
}
.exps-2 p{
    color: red;
    font-size: 30px;
}
.exps-2 h2{
    color: blueviolet;
}
.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

input{
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    height: 40px;
    width:300px;
    border: 5px solid blueviolet;
    box-shadow: 4px 4px 4px 4px rgb(243, 11, 116);
    background: black;
}
.contact-form{
    text-align: center;
    font-size: 40px;
    color: blueviolet;
    background-color: black;
}
textarea:hover{
    background-color: white;
}
input:hover{
    background-color: white;
}
form{
    text-align: center;
    display:block;
    margin-left: 125%;
}
textarea{
    background-color: rgb(3, 3, 3);
    border: 5px solid blueviolet ;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 4px rgb(211, 4, 160);
    border-radius: 20px;
    margin-left: 40px;
    width: 300px;
    text-align: center
    ;
    margin-top: 10px;
    height: 100px;
}
.btns{
    text-align: center;
    align-items: center;
margin-left: 130px;
border-radius: 20px;
animation-name:kaja ;
transition-delay: 2s;
animation-duration: 2s;

}
.btns:hover{
background-color: orangered;

}
@keyframes kaja{
    0%{
transform: scale(2);
    }
    100%{
        transform: rotate(360deg);
        border-radius: 30%;
    }
}.container-1{
    width: 33%;
    padding: 10px;
    
    margin: 10px;
   
}

.container-2{
    width: 30%;
}
.container-3{
    width: 30%;
}
.container-4{
    width: 30%;
}
.container-5{
    width: 30%;
}
.container{
    width: 30%;
}
.h2{
    text-align: center;
    font-size: 30px;
}
.ex{
    display: flex;
    justify-content: space-between;
    
    margin: 20px;
   
}
#exp{

    text-align: center;
    background-color: black;
    color: white;
    height: 300px;


}
#exp h2{
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    color: blueviolet;

}
.exps p{
    font-size: 20px;
    color: aqua;
    font-size: 30px;
}
.exps-1 p{
    color: rgb(43, 226, 46);
    font-size: 30px;
}
.exps-3 p{
    color: rgb(242, 108, 13);
    font-size: 30px;
}
.exps-2 p{
    color: red;
    font-size: 30px;
}
.exps-2 h2{
    color: blueviolet;
}
.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

input{
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    height: 40px;
    width:300px;
    border: 5px solid blueviolet;
    box-shadow: 4px 4px 4px 4px rgb(243, 11, 116);
    background: black;
}
.contact-form{
    text-align: center;
    font-size: 40px;
    color: blueviolet;
    background-color: black;
}
textarea:hover{
    background-color: white;
}
input:hover{
    background-color: white;
}
form{
    text-align: center;
    display:block;
    margin-left: 125%;
}
textarea{
    background-color: rgb(3, 3, 3);
    border: 5px solid blueviolet ;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 4px rgb(211, 4, 160);
    border-radius: 20px;
    margin-left: 40px;
    width: 300px;
    text-align: center
    ;
    margin-top: 10px;
    height: 100px;
}
.btns{
    text-align: center;
    align-items: center;
margin-left: 130px;
border-radius: 20px;
animation-name:kaja ;
transition-delay: 2s;
animation-duration: 2s;

}
.btns:hover{
background-color: orangered;

}
@keyframes kaja{
    0%{
transform: scale(2);
    }
    100%{
        transform: rotate(360deg);
        border-radius: 30%;
    }
}